h1 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#FF0000;
	font-weight:bold;
	display:inline;
}


h2 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

h3 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

h4 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:16px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline;
}

h5 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:16px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

h6 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline;
}

h7 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:18px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline;
}

h8 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:24px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

h9 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:24px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline;
}

h10 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:red;
	font-weight:bold;
	display:inline;
}

h11 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#00FF00;
	font-weight:bold;
	display:inline;
}

h12 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#000000;
	font-weight:normal;
	display:inline;
}

h13 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:18px;
	font-style:normal;
	color:#006699;
	font-weight:normal;
	display:inline;
}

h14 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#006699;
	font-weight:normal;
	display:inline;
}

h15 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:16px;
	font-style:normal;
	color:#FF0000;
	font-weight:bold;
	display:inline;
}

ol {
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
}

p {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline;
}

p1 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

p2 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#cccccc;
	font-weight:normal;
	display:inline-block;
}

p3 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:16px;
	font-style:normal;
	color:#FF0000;
	font-weight:bold;
	display:inline;
}

p4 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#FF0000;
	font-weight:bold;
	display:inline;
}

p5 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#666666;
	font-weight:normal;
	display:inline;
}

p6 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#999999;
	font-weight:normal;
	display:inline;
}

p7 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:10px;
	font-style:normal;
	color:#cccccc;
	font-weight:bold;
	display:inline;
}

p8 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:12px;
	font-style:normal;
	color:#999999;
	font-weight:normal;
	display:inline;
}

p9 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#666666;
	font-weight:normal;
	display:inline;
}

p10 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#000000;
	font-weight:normal;
	display:inline;
}

p11 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#FFFFFF;
	font-weight:normal;
	display:inline;
}

p12 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:13px;
	font-style:normal;
	color:#FFFFCC;
	font-weight:bold;
	display:inline;
}

p13 {
	line-height:1.2;
	font-family:sans-serif;
	font-size:16px;
	font-style:normal;
	color:#CCCCCC;
	font-weight:normal;
	display:inline;
}